<h1>Student Data</h1>

<div id="table-data">
    <table>
        <tr>
            <th *ngFor="let heading of headings">{{heading}}</th>
        </tr>
        <tr *ngFor="let item of data let i=index">
            <td *ngFor="let heading of headings" (dblclick)="item.value=item[heading]">
                <span *ngIf="item.value!=item[heading]">
                    {{item[heading]}}
                </span>
                <span *ngIf="item.value==item[heading]">
                    <input type="text" value={{item[heading]}} #data>
                    <button (click)="item[heading]=data.value; item.value=null">Save</button>
                </span>
            </td>
        </tr>
    </table>
</div>